@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

body{
  background: #ddd;
  font-family: 'PT Sans Narrow';
}

h1 {
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
}

p{
  margin: 0 0 15px 0;
  padding: 0;
  color: #555;
  font-style: italic;
  font-size: 14px;
}

form{
  width: 428px;
  margin: 50px auto;
  padding: 50px;
}

input {
  font-family: 'PT Sans Narrow';
   font-size: 20px;
}

.info{
  display: inline-block;
  margin-right: 5px;
}
 
.info input[type=text] input[type=email]{
  display: block;
  width: 400px;
  height: 20px;
  border: 0;
  border-radius: 3px;
  margin: 0 0 10px 0;
  padding: 30px 10px;
  background: #fff;
}

.info input:last-child {
  margin: 20px 0px;
}

.info input:focus {
  background: #eee;
  outline: none;
}

input[type="submit"]{
  
  height: 48px;
  width: 126px;
  margin: 0 20px;
  padding: 20px 22px;
  align-items: center;
  text-align: center;
  border: 0;
  border-radius: 3px;
  background: pink;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  background: linear-gradient(45deg, #FF6C54, #FFA754);
}

input[type="submit"]:hover{
  background: linear-gradient(180deg, #FF6C54, #FFA754);
}